---
layout: default
---
<article class="post">

  <div class="post-content" itemprop="articleBody">
    {{ content }}
    <p><a href="https://facebook.com/sharer.php?u={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" rel="nofollow" target="_blank" title="Share on Facebook">Share on Facebook</a></p>
    <p><a href="https://twitter.com/intent/tweet?text=I%20just%20created%20this%20with%20Emojid%C5%8D&hashtags=emoji,emojido&url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" rel="nofollow" target="_blank" title="Share on Twitter">Share on Twitter</a></p>
  </div>

</article>
